.warning {
	height: 100%;
	min-height: 331px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__placeholder {
		margin: auto;
		text-align: center;
	}
	&__description {
		margin-top: var(--space-l);
	}
}
