.commercial {
	height: 304px;
	box-sizing: border-box;
	background: #107c10;
	&__preview {
		height: 120px;
		background-image: url('live.svg');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 300px;
		margin-bottom: var(--space-m)
	}
	&__dots {
		display: flex;
		justify-content: space-around;
	}
	&__dot {
		height: var(--space-xs);
		width: var(--space-xs);
		background-color: var(--color-typo-primary);
		border-radius: 50%;
		display: inline-block;
	}
	&__dot:not(:last-child) {
		margin-right: var(--space-xs);
	}
}
